body { 
	background-color: #EEE;
	padding: 20;
	font-size: 11pt;
	line-height: 170%;
	color: #555;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
} 

h1, h2 {
	color: #000078;
}

input.jscolor {
	width: 60px;
	text-align: center;
}

button {
  background-color: #000078;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11pt;
  margin: 4px 2px;
  cursor: pointer;
	
}

code {
	font-family: terminal, monaco, monospace;	
	font-size: 10pt;
	color: #FF00FF;
}