:root {
  --main-color: rgb(55, 111, 174);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body { 
	background-color: #FFF;
	padding: 20;
	font-size: 0.95em;
	font-weight: 200;
	line-height: 170%;
	color: #999;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
} 

strong {
	font-weight: 400;
}

h1, h2, a {
	color: var(--main-color);
	font-weight: 400;
	margin-top: 40px;
}

input.jscolor {
	width: 60px;
	text-align: center;
}

textarea {
	border: solid 15px #F0F0F0;
	outline: none;
	resize: none;
	-webkit-appearance: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none !important;
}

button {
  background-color: var(--main-color);
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.95em;
  margin: 4px 2px;
  cursor: pointer;
}

code {
	font-family: terminal, monaco, monospace;	
  font-size: 0.90em;
	color: #FF7034;
}

span.color {
	color: var(--main-color);	
}